.affair {
    display: flex;
    margin: 0 5px 0 5px;
    color: white;
    font-family: "Times New Roman";
    font-size: 22px;
}

.name{
    width: 65%;
    padding: 7px;
    border: 1px solid black;
    background: linear-gradient(to right, #efb0ec, #d569d2, #ce4ec9, #d569d2, #efb0ec);
}

.priority {
    width: 35%;
    padding: 7px;
    border: 1px solid black;
    text-align: center;
}