div .error {
    border: 3px solid #b71a1a;
}
div .ok {
    border: 3px solid #3ecb3e;
}

.forError {
    color: red;
}

.forOk {
    color: green;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}